<%- include("header") -%>

  <p>
    Welcome to the world of interesting programming. I hope all of you guys come to here will feel peaceful, happy and really enjoy learning to code.
  </p>

<%- include("footer") -%>
