<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What is today?</title>
  </head>
  <body>
    <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <h1 style = "color: blue">Have a great <%= kindOfDay %></h1>
    <% } else { %>
      <h1 style = "color: green">Have a great <%= kindOfDay %></h1>
    <% } %>
  </body>
</html>
