<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What is today?</title>
  </head>
  <body>
    <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <h1 style = "color: blue">Have a great <%= kindOfDay %></h1>
    <% } else { %>
      <h1 style = "color: green">Have a great <%= kindOfDay %></h1>
    <% } %>
    <!-- <h1><%= kindOfDay %></h1> -->
    <form action="/" method="post">
      <input type="text" name="newTask" value="">
      <button type="submit" name="button">Add</button>
    </form>
    <ul>
      <li>Go for a walk</li>
      <li>Enjoy learning new things</li>
      <li>Buy foods</li>
      <li>Enjoy cooking</li>
      <li>Enjoy the meal</li>
    </ul>
  </body>
</html>
